{% extends 'base.html.twig' %}

{% block body %}
    <h1>Indicadores creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_crud_indicadores_index') }}">Back to the list</a>
        </li>
    </ul>





<script type="text/javascript">
$("#indicadores_objetivo").on("change", function() 
{ 
    var sel = $(this).val(), 
        $ddl = $("#indicadores_fkidmeta");

    if (!sel) 
    { // if there is no value means first option is selected
        $ddl.find("option").show(); $ddl.val(''); // show all options and reset the value
    } 
    else 
    {
        $ddl.find("option").hide(); // hide all options
        var selObjetivo = document.getElementById("indicadores_objetivo").options;
        var index = document.getElementById("indicadores_objetivo").selectedIndex;
        var otro = selObjetivo[index].value;
        var localMetas = document.getElementById('indicadores_fkidmeta');

        for(var i=0; i < localMetas.length; i++)
        {
            var x = localMetas.options[i].text;
            var this_value = parseInt(x.substr(0,5));

            if (this_value == otro)
            {
                var this_select_value = localMetas.options[i].value;
                $ddl.find("option[value*='" + this_select_value + "']").show();
            }

        }
        localMetas.selectedIndex = "0";
    }
});
</script>
{% endblock %}
