.selectMap {
    max-width:100%;
}

.btn.sharp {
  border-radius:0;
  /*background-color: #034ea2;*/
}

.form-horizontal .control-label {
    /*padding-right: 0px;*/
    text-align: center;
}

/*.form-horizontal .form-control  {
    margin-bottom: 0;
    padding-top: 1px;
    text-align: center;
}*/

.mapCanvas {
      /*width: 100%;*/
      width: 100%;
      height: 500px;
      overflow: hidden;
      z-index: 1;
}

.leaflet-left .leaflet-control-scale {
    display: inline-block;
    float: none;
}

.infobox {
    /*font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;*/
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
    z-index: 100;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 280px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    display: block;
    border: 5px solid #045a8d;
}

.infobox .line-chart {
    max-height: 160px; 
    max-width: 250px; 
    position: relative;
}

.infobox h4 {
    margin: 0 0 5px;
    color: #777;
}
.infobox h3 {
    /*margin: 0 0 5px;*/
    color: #2b8cbe;
    opacity: 0.7;
}

.infobox .unit-name {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}
.infobox .edo-name {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    color: #aaa;
}

.infobox .texto-aclaracion {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    color: #aaa;
    text-align: center;
}

.infobox .meta {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    color: #008000;
    text-align: center;
}


.infobox .edo-image {
    width: 40px;
    height: 40px;
}
.infobox table#legend-colors {
    width: 100%;
}
table#legend-colors tr td.legend-color {
    height: 12px;
    opacity: 0.7;
    cursor: pointer;
}
/*table#legend-colors tr td.legend-color:hover {
    background-color: yellow !important;
}*/
table#legend-colors tr td.legend-breaks {
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    /*color: #000000;*/
}
.indicador-valor, .indicador-valor-b {
    font-size: 24px;
    font-weight: 700;
    /*color: #2b8cbe;*/
    text-align: center;
}
.values-row {
    display: table;
    /*margin-bottom: 10px;*/
}

.values-row-metas {
    display: table;
    margin-bottom: 10px;
}

.values-row div {
    display: table-cell;
    vertical-align: middle;
}
.indicador-nombre, .indicador-nombre-b {
    font-weight: 300;
    margin-bottom: 10px;
}

/* Line charts */
body.page-node .c3 svg text {
    fill: #aaa;
}
body.page-node .c3 svg g.tick line {
    stroke: #fff;
    stroke-opacity: 0;
}
body.page-node .c3 svg g.c3-ygrids line {
    stroke: #fff;
    stroke-dasharray: 1;
    stroke-opacity: 1;
}
#chart svg g.c3-lines path.c3-line:hover {
    stroke: #00cc99;
}
#chart svg g.c3-lines path.c3-line {
    fill-opacity: 0;
}

.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}
.c3-selected-circle {
  fill: white;
  stroke-width: 2px;
}