{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %}
<div class="row">
   <p class="navbar-text pull-left" style="font-weight:bold;font-size:18px;">Bienvenido <span style="color:#034EA2">'{{app.user.username}}'</span></p>
     <p class="navbar-text pull-right" style="margin-left:2px;"><a href="{{ path('fos_user_security_logout') }}" class="navbar-link btn btn-primary"></i> Cerrar sesión</a></p>
     <p class="navbar-text pull-right" style="margin-right:0px;"><a href="{{ asset('manual/ods_usermanual.pdf') }}" class="navbar-link btn btn-info" target="_blank" title="Ver manual de usuario" ><i class="fa fa-book"></i>  Manual de usuario</a></p>
</div>
{% endif %}


	{% block panel_body %}{% endblock %}


{% endblock %}